@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.h1sell {
	font: 135% Oswald;
	margin-left: 7%;
}

.psellbuy {
	font: 200% Fira Sans;
	font-size: 100%;
	color: Gray;
}

text {
	font: 200% Fira Sans;
}

.button5:hover {
    background-color: #555555;
    color: white;
}

.button {
    background-color: white;
    color: black;
    border: 3.5px solid #555555;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 165px;
    font: 100% Roboto;
}

.h1buy {
    font: 200% Oswald;
    text-align: center;
    font-size: 35px;
}

.buyP {

    font: 200% Fira Sans;
    font-size: 100%;
    color: Gray;

}